#app {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

#lists {
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0px 0px;
}

#lists .title {
  padding: 10px;
  margin-bottom: 0;
}

#items {
  background: url("background.jpg");
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px 10px;
}

#details {
  background: #333333;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 10px 10px;
}

.list-title {
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px !important;
}

.list-title div.level-item {
  padding-left: 10px;
}

@media screen and (min-width: 769px), print {
  #lists {
    flex-basis: 330px;
    flex-grow: 0;
    border-right: 1px solid #cccccc;
  }

  #details {
    flex-basis: 330px;
    flex-grow: 0;
  }
}

#lists ul {
  padding: 0;
  font-size: 16px;
}

#lists ul li {
  padding: 5px 20px;
  cursor: pointer;
}

#lists ul li.is-active {
  background: #efb47a;
  color: #2d2d2d;
}

#lists .field {
  margin: 10px;
}

.import-item {
  padding: 3px 10px;
  border: 1px solid #dcdcdc;
  margin: 5px 0px;
  border-radius: 3px;
  background: #f7f7f7;
}

.import-item.import-success {
  background: #a7ffa7;
}

.ah-checkbox {
  display: block;
  padding: 6px 10px 6px 30px;
  position: relative;
  font-size: 15px;
  border: 1px solid #dcdcdc;
  margin: 2px 0px;
  border-radius: 4px;
  background: #f7f7f7;
  color: #444444;
  overflow: hidden;
}

.ah-checkbox:hover {
  background: #dedede;
  cursor: pointer;
}

.ah-checkbox:active {
  background: #aeaeae;
  border: 1px solid #aeaeae;
  cursor: pointer;
}

.ah-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.ah-checkbox-check {
  position: absolute;
  top: 7px;
  left: 5px;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  cursor: pointer;
}
.ah-checkbox:hover input ~ .ah-checkbox-check,
.ah-checkbox input:focus ~ .ah-checkbox-check {
  background: #cccccc;
}

.ah-checkbox input:checked ~ .ah-checkbox-check {
  background: #1d91be;
}
.ah-checkbox:hover input:not([disabled]):checked ~ .ah-checkbox-check,
.ah-checkbox input:checked:focus ~ .ah-checkbox-check {
  background: #1c708a;
}
.ah-checkbox input:disabled ~ .ah-checkbox-check {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.ah-checkbox-check:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.ah-checkbox input:checked ~ .ah-checkbox-check:after {
  display: block;
}
.ah-checkbox-label .ah-checkbox-check:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(40deg);
}
.ah-checkbox-label input:disabled ~ .ah-checkbox-check:after {
  border-color: #7b7b7b;
}

.show-done-checkbox,
.show-done-checkbox:hover {
  background: none;
  border: 0;
  color: #444444;
}

.show-done-checkbox .ah-checkbox-check,
.show-done-checkbox:hover .ah-checkbox-check {
  border: 0;
}

.show-done-checkbox.ah-checkbox-label .ah-checkbox-check:after {
  top: 4px;
  left: 7px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.burger-button {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.burger-button span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}

.burger-button span:nth-child(1) {
  top: calc(50% - 6px);
}

.burger-button span:nth-child(2) {
  top: calc(50% - 1px);
}

.burger-button span:nth-child(3) {
  top: calc(50% + 4px);
}

.burger-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.burger-button.is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.burger-button.is-active span:nth-child(2) {
  opacity: 0;
}

.burger-button.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.menu {
  display: none;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: #cccccc 1px solid;
  border-top: #cccccc 1px solid;
}

.menu.visible {
  display: block;
}
