[draggable], #lists *, #items * {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
[draggable] {
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

[v-cloak] {
  display: none !important;
}

[v-cloak]::before { content: "loading…" }

#app {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

#lists {
  color: #333333;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#lists ul {
  overflow-y: auto;
}

#lists .title {
  padding: 10px;
  margin-bottom: 0;
}

.container-for-background {
  background: url("backgrounds/default.jpg");
  background-size: cover;
  flex-grow: 1;
  overflow: hidden;
}

#items {
  overflow: hidden;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}

#items .items-content {
  margin-top: 5px;
  overflow-y: auto;
}

#details {
  background: #ffffff;
  color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px 10px;
}

.list-title {
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px !important;
}

#items .list-title {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);
}

.list-title div.level-item {
  padding-left: 10px;
}

@media screen and (min-width: 769px), print {
  #lists {
    flex-basis: 330px;
    flex-grow: 0;
    border-right: 1px solid #cccccc;
  }

  #details {
    flex-basis: 40%;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

#lists ul {
  padding: 0;
  font-size: 16px;
}

#lists ul li {
  padding: 8px 20px;
  cursor: pointer;
}

#lists ul li.is-active {
  background: #1D91BE;
  color: #ffffff;
}

#lists .field {
  margin: 10px;
}

.import-item {
  padding: 3px 10px;
  border: 1px solid #dcdcdc;
  margin: 5px 0px;
  border-radius: 3px;
  background: #f7f7f7;
}

.import-item.import-success {
  background: #6fa86f;
}

.ah-checkbox {
  display: block;
  padding: 8px 10px 8px 44px;
  position: relative;
  font-size: 18px;
  border: 1px solid #cecece;
  margin: 1px 0px;
  border-radius: 4px;
  background: #f7f7f7;
  color: #444444;
  overflow: hidden;
}

.ah-checkbox.is-active {
  background: #dedede;
}

.ah-checkbox:hover {
  background: #ededed;
  cursor: pointer;
}

.ah-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.ah-checkbox-check {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  cursor: pointer;
}
.ah-checkbox:hover input ~ .ah-checkbox-check,
.ah-checkbox input:focus ~ .ah-checkbox-check {
  background: #cccccc;
}

.ah-checkbox input:checked ~ .ah-checkbox-check {
  background: #1d91be;
}
.ah-checkbox:hover input:not([disabled]):checked ~ .ah-checkbox-check,
.ah-checkbox input:checked:focus ~ .ah-checkbox-check {
  background: #1c708a;
}
.ah-checkbox input:disabled ~ .ah-checkbox-check {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.ah-checkbox-check:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.ah-checkbox input:checked ~ .ah-checkbox-check:after {
  display: block;
}
.ah-checkbox-label .ah-checkbox-check:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 11px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(40deg);
}
.ah-checkbox-label input:disabled ~ .ah-checkbox-check:after {
  border-color: #7b7b7b;
}

.show-done-checkbox,
.show-done-checkbox:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 0;
  color: #444444;
}

.show-done-checkbox .ah-checkbox-check,
.show-done-checkbox:hover .ah-checkbox-check {
  border: 0;
}

.show-done-checkbox.ah-checkbox-label .ah-checkbox-check:after {
  top: 2px;
  left: 7px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.burger-button {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.burger-button span {
  background-color: #000000;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}

#items .burger-button {
  height: 1.75rem;
  width: 1.75rem;
}

.burger-button span:nth-child(1) {
  top: calc(50% - 6px);
}

.burger-button span:nth-child(2) {
  top: calc(50% - 1px);
}

.burger-button span:nth-child(3) {
  top: calc(50% + 4px);
}

.burger-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.burger-button.is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.burger-button.is-active span:nth-child(2) {
  opacity: 0;
}

.burger-button.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.menu {
  flex-shrink: 0;
  display: block;
  height: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  margin-bottom: 10px;
  transition-duration: 100ms;
  transition-property: height, padding, opacity;
  transition-timing-function: ease-out;
  overflow: hidden;
  overflow-y: auto;
}

.menu.visible {
  border-bottom: #cccccc 1px solid;
  border-top: #cccccc 1px solid;
  display: block;
  height: 300px;
  padding: 20px;
  opacity: 1;
}

#items .menu.visible {
  height: 120px;
  background: #ffffff;
  border: 0;
}

.level,
.level .level-left,
.level .level-item {
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
}

#details .card {
  background: #fffde0;
}

#details .card-content .content {
  overflow-wrap: break-word;
  word-break: break-all;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    background-color: #ffffff;
  }
  49% {
    background-color: #ffaaaa;
  }
  100% {
    background-color: #ffffff;
  }
}
