
.ah-item {
  padding: 3px 10px;
  border: 1px solid #dcdcdc;
  margin: 5px 0px;
  border-radius: 3px;
  background: #f7f7f7;
}

.import-item {
  padding: 3px 10px;
  border: 1px solid #dcdcdc;
  margin: 5px 0px;
  border-radius: 3px;
  background: #f7f7f7;
}

.import-item.import-success {
  background: #a7ffa7;
}
