<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Abhakeln</title>
    <link rel="stylesheet" href="./css/lib/bulma.min.css">
    <link rel="stylesheet" href="./css/app.css">
</head>

<body>
<script src='./js/lib/vue.js'></script>
<div id="app">
    <div id="lists" class="menu" v-bind:class="{'is-hidden-mobile': itemsVisible}">
        <ul>
            <ah-list v-for="list in lists" v-bind:key="list._id" v-bind:selected="list._id === selectedList._id"
                     v-bind:list="list"/>
        </ul>
        <div class="field">
            <div class="control">
                <input class="input" name="addList" placeholder="Neue Liste anlegen"
                       v-on:keyup.enter="addListKey">
            </div>
        </div>
    </div>
    <div id="items" v-if="selectedList" v-bind:class="{'is-hidden-mobile': listsVisible}">
        <div class="level list-title is-mobile">
            <div class="level-left">
                <button type="button" class="level-item button is-small is-light is-hidden-tablet"
                        v-on:click="showLists">&laquo; Zurück
                </button>
                <div class="level-item">{{selectedList.name}}</div>
            </div>
        </div>
        <div class="field">
            <div class="control">
                    <input class="input" name="addItem" placeholder="Aufgabe anlegen" v-on:keyup.enter="addItemKey">
                </div>
            </div>
            <div>
                <ah-item class="ah-item" v-for="item in listData.items" v-bind:key="item._id" v-bind:item="item"
                         v-if="!item.done"/>
            </div>
        <label class="show-done-checkbox ah-checkbox ah-checkbox-label">
            Erledigte Einträge zeigen
            <input type="checkbox" id="showDone" v-model="showDone"/>
            <div class="ah-checkbox-check"></div>
        </label>
        <div>
            <ah-item class="ah-item" v-for="item in listData.items" v-bind:key="item._id" v-bind:item="item"
                     v-if="showDone && item.done"/>
        </div>
        <div id="wunderlistImport">
            <ah-wunderlist-import class="ah-import-modal" v-bind:visible="wunderlistImportVisible"/>
        </div>
        <div class="content has-text-centered">
            <button type="button" class="button is-danger is-small" v-on:click="showWunderlistImport">Import von
                Wunderlist
            </button>
        </div>

    </div>
</div>
<script src="./js/lib/sockjs.min.js"></script>
<script src='./js/lib/vertx-eventbus.js'></script>
<script src="./js/lib/sodium.js"></script>
<script src="./js/lib/dexie.js"></script>
<script src="./config.js"></script>
<script src="./js/storage.js"></script>
<script src="./js/encryption.js"></script>
<script src="./js/api.js"></script>
<script src="./js/abhakeln.js"></script>
<script src="./js/eventbus.js"></script>
<script src="./js/app.js"></script>
</body>

</html>